.inputContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form {
    height: 20em;
    width: 21em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.username, .accessKey {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 170px;
}

input {
    padding: 0.5em;
    width: 20rem;
}

.invalid input {
    border: 1px solid #b40e0e;
    background-color: #fddddd;
}
  
.invalid input:focus {
    border-color: #ff8800;
    background-color: #fbe8d2;
}

input:focus {
    border-color: #ff8800;
    background-color: #fbe8d2;
}

.errorText {
    color: #b40e0e;
    margin: 0;
}

.errorText2 {
    position: relative;
    top: -26px;
    color: #b40e0e;
    margin: 0;
}

.button {
    width: 100px;
    padding: 1em;
    cursor: pointer;
    margin: 0 auto;
}

.shown {
    height: 20px;
    position: relative;
    top: -26px;
    right: -145px;
    cursor: pointer;
}

select {
    padding: 0.5em;
    margin-bottom: 1em;
}